.aboutHeaderAll {
  position: relative;
  display: flex;
  width: 100vw;
  height: 30rem;
}
.aboutHeaderPic {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-anchor: end;
  overflow: hidden;
}
.aboutHeaderContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  height: 30rem;
  background: -webkit-linear-gradient(
    transparent,
    transparent,
    rgb(74, 97, 124)
  );
  z-index: 2;
}
.aboutHeaderTitle {
  position: absolute;
  top: 25vh;
  left: 20vw;
  font-size: 5rem;
  z-index: 3;
  color: white;
}
.aboutHeaderPicMe {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  object-fit: cover;
}
.aboutHeaderTextTwo {
  font-size: 4rem;
}

.aboutMainContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  background: -webkit-linear-gradient(rgb(74, 97, 124), rgb(42, 40, 41));
}
.aboutPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 900px;
  border-radius: 10px;
  background-color: rgb(33, 33, 33);
  box-shadow: 10px 10px 10px black;
  margin-bottom: 3rem;
  padding: 2rem;
  color: white;
}
.aboutPageTextAll {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40vw;
  max-width: 500px;
  margin: 3rem;
}
.aboutPageTitle {
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: white;
}
.aboutPageText {
}
