.resHeaderAll {
  position: relative;
  display: flex;
  width: 100vw;
  height: 30rem;
}

.resumePic {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-anchor: middle;
  overflow: hidden;
}
.resumeHeaderContainer {
  position: relative;
  width: 100vw;
  height: 30rem;
  background: -webkit-linear-gradient(
    transparent,
    transparent,
    rgb(74, 97, 124)
  );
  z-index: 2;
}
.resumeHeader {
  position: absolute;
  top: 25vh;
  left: 20vw;
  font-size: 5rem;
  z-index: 3;
  color: white;
}
.techTitleAll {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-family: "Open Sans";
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.techAll {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  padding: 2rem;
  max-width: 1100px;
  /* background: -webkit-linear-gradient(rgb(74, 97, 124), rgb(42, 40, 41)); */
}

.techSingle {
  font-family: "Open Sans";
  letter-spacing: 1.2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  /* background-color: #3f3f3f; */
  margin: 20px;
}

.techImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  padding: 5px;
}
.reactNative {
  border-radius: 50%;
  object-fit: cover;
}
.centerMe {
  text-align: center;
}
.redux {
  object-fit: contain;
}

.experience {
  display: flex;
  justify-content: center;
  position: relative;
  /* background-color: rgb(42, 40, 41); */
}
.insideRes {
  width: 100vw;
  max-width: 900px;
  background-color: #3f3f3f;
  /* box-shadow: 10px 10px 10px black; */
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  color: rgb(211, 211, 211);
}

.expTitle {
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.7rem;
  letter-spacing: 4.3px;
  margin-bottom: 3rem;
}
.expBoth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2.2rem;
}
.devMtnPic {
  height: 120px;
  margin: 20px;
  object-fit: contain;
  border-radius: 50%;
  opacity: 0.93;
}
.expTextAll {
  margin-bottom: 1rem;
  margin-left: 30px;
  width: 30vw;
}
.expEachTitle {
  font-family: "Open Sans";
  font-size: 1.4rem;
  letter-spacing: 2px;
  border-bottom: solid;
  border-bottom-color: rgb(237, 231, 226);
  border-bottom-width: 1px;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.expTextInfo {
  font-family: "Raleway";
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .insideRes {
    max-width: 700px;
  }
}

@media (max-width: 925px) {
  .insideRes {
    max-width: 65vw;
  }
  .devMtnPic {
    height: 90px;
  }
}
@media (max-width: 500px) {
  .techImage {
    height: 60px;
    width: 60px;
  }
  .techSingle {
    height: 110px;
    width: 110px;
    margin: 5px;
    font-size: 0.8rem;
  }
  .devMtnPic {
    display: none;
  }
  .expTextAll {
    margin: 0px;
    width: 50vw;
  }

  .techTitleAll {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    letter-spacing: 2.3px;
  }
  .expTitle {
    font-size: 1.2rem;
    letter-spacing: 2.3px;
    margin: 3rem;
  }
  .expEachTitle {
    font-size: 1rem;
    letter-spacing: 1.8px;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .expTextInfo {
    font-size: 0.88rem;
  }
  .insideRes {
    max-width: 55vw;
  }
}
@media (max-width: 350px) {
  .expTextInfo {
    font-size: 0.8rem;
  }
  .expTitle {
    text-align: center;
  }
}
