.headerAll {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(42, 40, 41);
}

.headerPic {
  position: fixed;
  z-index: 1;
  width: 100%;
  opacity: 0.8;
  object-fit: cover;
  text-anchor: middle;
  overflow: hidden;
}
.headerText {
  position: absolute;
  z-index: 2;
  margin-top: 30vh;
  width: 70vw;
  color: rgb(211, 211, 211);
}

.headerTitle {
  font-size: 3rem;
  letter-spacing: 3px;
  font-family: "Open Sans";
  /* background: -webkit-linear-gradient(white, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.headerInfo {
  font-family: "Raleway";
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  letter-spacing: 1.3px;
}

.scroll {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-size: 2rem;
  margin: 3vh;
  padding-left: 32vw;
}
.scroll img {
  opacity: 0.85;
}
