.allSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.indSkill {
  display: flex;
  flex-direction: column;
  width: 12em;
  margin: 2em;
}

.skillPic {
  width: 5em;
  height: 5em;
  align-self: center;
}

.allSites {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 5em;
}
.site {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  height: 50em;
  width: 100vw;
}
.sitePic {
  position: relative;
  object-fit: contain;
  height: 40em;
  width: 40em;
}
.siteExp {
  height: 40em;
  width: 40em;
  align-items: center;
  background-color: bisque;
}
