.homeAll {
  z-index: 3;
  position: relative;
  display: flex;
  width: 100vw;
  justify-content: center;
  color: #3f3f3f;
  background-color: rgb(42, 40, 41);
}
.sitesTitle {
  font-size: 3rem;
  margin: 1rem;
}

.allSites {
  width: 85vw;
  background-color: rgb(249, 248, 247);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 10px black;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.site {
  width: 88vw;
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
.siteExp {
  min-width: 10rem;
  max-width: 15rem;
  padding: 0.5rem;
  margin: 5rem;
  font-size: 1.45rem;
}

.siteName {
  font-size: 1.75rem;
  border-bottom: solid;
  border-bottom-style: solid;
  border-block-start-color: #3f3f3f;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.seone {
  text-align: end;
}
.setwo {
}
.sitePic {
  object-fit: scale-down;
  max-width: 53rem;
  min-width: 25rem;
  max-height: 40rem;
  min-height: 20rem;
}
.repo {
  margin-top: 1rem;
}

.repo a {
  text-decoration: none;
  color: rgb(247, 148, 29);
}
