.contAll {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 25rem;
  z-index: 3;
}
.contPic {
  position: relative;
  width: 100%;
  height: 120%;
  object-fit: cover;
  z-index: 0;
  opacity: 1;
  overflow: initial;
}

.contText {
  width: 100vw;
  height: 50vh;
  position: absolute;
  background: -webkit-linear-gradient(rgb(42, 40, 41), transparent);
  z-index: 1;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contLeft,
.contRight {
  width: 50vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
  margin-top: 4rem;
}

.picEric {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 2rem;
}
.contTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.contAb {
  width: 30vw;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.socMed {
  display: flex;
  flex-direction: column;
}
.socMed a {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.socMed a:hover {
  background: -webkit-linear-gradient(rgb(98, 106, 111), rgb(172, 171, 171));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
